/* Adicione isso ao seu App.css */
.content.with-sidebar {
  margin-left: 250px; /* Largura da sidebar */
  padding: 20px;
  transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
  .content.with-sidebar {
    margin-left: 80px; /* Largura da sidebar em tela pequena */
  }
}

@media (max-width: 576px) {
  .content.with-sidebar {
    margin-left: 0; /* Sem margem para sidebar escondida */
  }
}