/* Container principal */
.indicadores-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  /* Cabeçalho */
  .indicadores-container h5 {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Cards de Indicadores */
  .MuiPaper-root {
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Títulos de cada card */
  .MuiTypography-root {
    color: #555;
  }
  
  .MuiTypography-h5 {
    color: #4caf50;
  }
  
  /* Estilos do gráfico */
  .MuiPaper-root .chart-container {
    margin-top: 20px;
  }
  
  /* Botões */
  .MuiButton-root {
    font-size: 14px;
  }
  
  .MuiButton-contained {
    background-color: #4caf50;
    color: white;
  }
  
  .MuiButton-contained:hover {
    background-color: #388e3c;
  }
  
  .MuiButton-outlined {
    border-color: #f39c12;
    color: #f39c12;
  }
  
  .MuiButton-outlined:hover {
    background-color: rgba(243, 156, 18, 0.1);
  }
  