name: Azure Deploy

on:
  push:
    branches:
      - main  # ou qualquer outra branch que você esteja utilizando

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Azure CLI
      uses: azure/setup-azure-cli@v2  # Certifique-se de usar esta versão

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Deploy to Azure App Service
      run: |
        az webapp deploy --resource-group integration-group --name meuappname --src-path target/paofacil-backend-0.0.1-SNAPSHOT.jar
